.menuContainer{
  /* position: relative; */

}

.menuContainer .hamburger{
    position: relative;
}

.hamburger::before,.hamburger::after{
   content: '';
   display: block;
   position: absolute;
   background-color: black;
   height: 4px;
   width: 100%;
}

.hamburger::before{
   top:-8px;
}
.hamburger::after{
   top:8px;
}